.rangeSliderFormControl{
    max-width: 7.5rem;
    border: none;
    text-align: left;
    padding: 0;
}

.rangeSliderFormControlLabel{
    width: 1rem;
    padding: 0;
    margin: 0;
}

.rangeSliderFormControlRow{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 35%;
    margin-right: 25%;
    
}

.rangeSliderFormControlCol{
    
}