/* Credit to Clever Programmer on Youtube for design ideas and code format https://www.youtube.com/watch?v=rJjaqSTzOxI */
@import "../global_variables.scss";

.searchForm {
    display: flex;
    padding: 2rem;


}

.searchButton{
    padding-left: .5rem;
}


