@import "../global_variables.scss";

.cardContainer {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
  .sideScrollCard {
    display: inline-block;
    padding: 0.1875rem;
    padding-top:0;
  }

}

.stockDiscovery {
  background-color: $stockdiscoverybackground;
  // height:50vw;
  .cardContainer{
    padding-left: 2rem;
    padding-right: 2rem;
    background-color:$stockdiscoverybackground;
  }
  ::-webkit-scrollbar-thumb {
    background: $info;
    border-radius: 100vw;
    border: .20em solid $stockdiscoverybackground;
  
  }
  ::-webkit-scrollbar-track {
    background: $stockdiscoverybackground;
    margin-inline-start: 2rem;
    margin-inline-end: 2rem;
  }
}