
@import "../global_variables.scss";


.accountDetailsCard {
    text-align: left;
    padding: 1rem;
    margin-bottom: 1rem;
}

.accountDetailsForm {
    padding: 1rem 1rem 0rem 1rem;
    margin-bottom: 1rem;
}

.userDetailsText {
    text-decoration: underline;
    font-weight: bold;
    display: inline;
}



  