/* Variables */
@import "../global_variables.scss";

.orderButtonSubtitle{
    font-size: small;
    padding: 0; 
    margin: 0;
}

.orderButton{
    width: 9.375rem;
    font-size: x-large; 
}

.tradeRestrictionsError{
    text-align:center;
    width: 20rem;
}

.backToStockInfo{
    font-size: 1.5rem;
}

a:link.backToStockInfo {
      text-decoration: none;
}

a:visited.backToStockInfo {
      text-decoration: none;
}

a:hover.backToStockInfo {
      text-decoration: none;
}

a:active.backToStockInfo {
      text-decoration: none;
}

@media only screen and (min-width: 1120px){ 
    .tradeRestrictionsError{
        text-align:center;
        width: 40rem;
    }
}