@import "../global_variables.scss";


.splash-page-container {
    align-items: center;
    text-align: center;
}

.banner {
    text-align: center;
    background-color: $primary;
    margin-top: 3rem;
    margin-left: 0;
    margin-right: 0;
}

.quote {
    font-weight: normal;
    font-style: italic;
    color: white;
}

.footer {
    margin-top: 3rem;
    margin-left: 0;
    margin-right: 0;
    background-color: $primary;
    text-decoration-color: white;
    text-align: center ;
    color: white;
    padding: 3rem;
    
}

.stockDisplay {
    background-color: $primary;
    align-items: center;
    margin: auto;
}

.stockDisplayContainer {
    //height: 25rem;
    background-color: $primary;
    padding: 4rem 0;
}

.stockDisplayCol {
    background-color: $primary;
}

.not-clickable {
    pointer-events: none;
}

.splashLogo {
    max-width: 60%;
}
