/* ***************************** Stock Card Container ***************************** */
@import "../global_variables.scss";


::-webkit-scrollbar {
  width: 0;
  overflow: none;
  height: 0;
}

::-webkit-scrollbar-track {
  background: $background;
}
::-webkit-scrollbar-thumb {
  background: $shadow;
  border-radius: 100vw;
  border: .20em solid $background;

}


.tickercardstyle {
  width: 10rem;
  height: 100%;
  display: block;
  border-width: 1.5px;
  border-color: $shadow;
  box-shadow: 2px 2px $shadow;
}

@media only screen and (min-width: 500px) {
  ::-webkit-scrollbar {
    height: 0.75rem;
  }

}

.stockdiscoveryRow {
  margin:1rem;
  margin-top: 1rem;
  margin-left: 2rem;
  padding-right: 1rem;
  background-color: $stockdiscoverybackground;
  white-space: initial;
  word-wrap: break-word;
  width:90%;
  text-align: left;
}

.stockdiscoveryRowTitle {
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #FFFFFF;
  background-color: #0080FF;
  white-space: initial;
  word-wrap: break-word;
  width:100%;
  text-align: center;
}

.stockdiscoveryRowTitleTop {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #FFFFFF;
  background-color: #0080FF;
  white-space: initial;
  word-wrap: break-word;
  width:100%;
  text-align: center;
}

.discoverySectionDiv{
  border-bottom: solid;
  border-width: 1px;
  border-color: #C0C0C0;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.tickerCardImgContainer {
  height: 5.625rem;
   width: 7rem;
}

.noBorderGreyText {
  color: $midgrey;
  border: none;
}

.noBorder7REMHeight{
  border: none;
  height: 7rem
}

.noBorderFont90{
  border: none;
  font-size:90%
}

mark.positive {
  color:green;
  background: none;
  font-weight: bold;
}

mark.negative {
  color:red;
  background: none;
  font-weight: bold;
}

mark.bold {
  font-weight: bold;
  background: none;
}