/* ***************************** Stock Card Container ***************************** */
@import "../global_variables.scss";


::-webkit-scrollbar {
  width: 0;
  overflow: none;
  height: 0;
}

::-webkit-scrollbar-track {
  background: $background;
}
::-webkit-scrollbar-thumb {
  background: $shadow;
  border-radius: 100vw;
  border: .20em solid $shadow;

}

// side scrolling
.cardContainer {
  display: flex;
  overflow-x: auto;

  .tickercard {
    display: inline-block;
    padding: 0.1875rem;
    padding-top:0;
  }

}

.tickercardstyle {
  width: 10rem;
  height: 100%;
  display: block
}

@media only screen and (min-width: 990px) {
  ::-webkit-scrollbar {
    height: 1rem;
  }

}

.stockdiscoveryRow {
  margin-top: 2rem;
}