/* ***************************** Stock Card Container ***************************** */
@import "../global_variables.scss";


::-webkit-scrollbar {
  width: 0;
  overflow: none;
  height: 0;
}

::-webkit-scrollbar-track {
  background: $background;
}
::-webkit-scrollbar-thumb {
  background: $shadow;
  border-radius: 100vw;
  border: .20em solid $background;

}


.tickercardstyle {
  width: 10rem;
  height: 100%;
  display: block;
  border:none;
  // border-color:rgb(224, 224, 224);
}

@media only screen and (min-width: 500px) {
  ::-webkit-scrollbar {
    height: 0.75rem;
  }

}

.stockdiscoveryRow {
  margin:1rem;
  margin-top: 2rem;
  margin-left: 2rem;
  padding-right: 1rem;
  background-color: $stockdiscoverybackground;
  white-space: initial;
  word-wrap: break-word;
  width:90%;
}

.tickerCardImgContainer {
  height: 5.625rem;
   width: 7rem;
}

.noBorderGreyText {
  color: $midgrey;
  border: none;
}

.noBorder7REMHeight{
  border: none;
  height: 7rem
}

.noBorderFont90{
  border: none;
  font-size:90%
}