/* ***************************** News Article Card Container ***************************** */
// .stockCardContainer{
//   max-height: 30rem;
//   margin: 10px;
//   margin-bottom: 20px;
// }

// .stockCardContainerBody{
  
  

// }

.stockCardContainerBody{
  max-height: 30rem;
  margin: 10px;
  margin-bottom: 20px;
  display: inline-block;
  overflow-x: auto ;
  overflow-y: hidden;
  white-space: nowrap;

}

.stockCardContainerHeading{
margin:5%;
}
