@import "../global_variables.scss";
    
.tradeButtonCard {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;
    overflow: hidden;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    border-left: $background;
    border-right: $background;
}

.btn-secondary {
    background-color: $secondary;
    border-color: $secondary;
    width: 12.5rem;
}

.btn-secondary:hover {
    background-color: darken($secondary, 10%);
    border-color: darken($secondary, 10%);
}

.btn-secondary:focus {
    background-color: darken($secondary, 10%) !important;
    border-color: darken($secondary, 10%) !important;
}

.btn-light {
    background-color: $background;
    border-color: $background;
    font-weight:bolder;
    color: $secondary;
}


.btn-light:hover {
    color:$secondary;
    background-color: $background;
    border-color: $background;
    font-weight:bolder;
    text-decoration: underline;
}


.btn-light:focus {
    color:$secondary;
    background-color: $background;
    border-color: $background;
    font-weight:bolder;
    text-decoration: underline;
}


// Desktop version
@media only screen and (min-width: 1200px) {
    .btn-secondary {
        width: 18.75;
        font-size:150%;
    }
}

.infoList{
    margin-top: 0.625rem; 
}

.footerStyle {
    width: 100%;
    justify-content: center;
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
    height:80px
}

.centeredCol {
    display: flex;
    justify-content: center
}

// @media (max-width: 669px) {
//     .recharts-cartesian-axis-ticks, .recharts-cartesian-axis-tick {
//       display: none;
//     }
//   }


.btn-outline-info {
    color: $info;
    background-color: $background;
    border-bottom: $info;
    border-color: $background;
    font-weight:bolder;
    --bs-btn-active-bg:$secondary;
    --bs-btn-active-color:$background;
    --bs-btn-hover-color: $background;
    --bs-btn-active-border-color: $secondary;
}

.btn-outline-info:hover {
    color:$background;
    background-color: $secondary;
    border-color: $secondary;
    font-weight:bolder;
    // text-decoration: underline;
}


.btn-outline-info:focus {
    color:$background;
    background-color: $secondary;
    border-color: $secondary;
    font-weight:bolder;
    // text-decoration: underline;
}

.btn-outline-info:active {
    color:$background;
    background-color: $secondary;
    border-color: $secondary;
    font-weight:bolder;
    // text-decoration: underline;
}