/* ***************************** Stock Card Container ***************************** */
@import "../global_variables.scss";


::-webkit-scrollbar {
  width: 0;
  overflow: none;
  height: 0;
}

::-webkit-scrollbar-track {
  background: $background;
}
::-webkit-scrollbar-thumb {
  background: $shadow;
  border-radius: 100vw;
  border: .20em solid $background;

}

// side scrolling
.cardContainer {
  display: flex;
  overflow-x: auto;

  .tickercard {
    display: inline-block;
    padding: 0.1875rem;
    padding-top:0;
  }

}

.tickercardstyle {
  width: 10rem;
  height: 100%;
  display: block
}

@media only screen and (min-width: 500px) {
  ::-webkit-scrollbar {
    height: 0.75rem;
  }

}

.stockdiscoveryRow {
  margin-top: 2rem;
}

.tickerCardImgContainer {
  height: 5.625rem;
   width: 7rem;
}

.noBorderGreyText {
  color: $shadow;
  border: none;
}

.noBorder7REMHeight{
  border: none;
  height: 7rem
}

.noBorderFont90{
  border: none;
  font-size:90%
}