@import "../global_variables.scss";


.welcome-page-container {
    align-items: center;
    text-align: center;
    width: 70%;
}

.welcomeInfoCardStyle {
    height: 90%;
    padding: 0.625rem;
    margin: 0.625rem;
    margin-bottom: 1.25rem;
    padding-bottom: 3.125rem;
    display: flex;
    color: black;
    position: relative;
    align-items: center
}

.welcomeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0
}

.welcomeCardIcons{
    margin-top: 1rem;
    height: 6rem;
    width: 6rem;
}

.headerIconWelcome{
    height: 1.5rem;
    width: 1.5rem;
}

.firstAcc .accordion-button {
    background-color: #63C7B2 !important;
}

.secondAcc .accordion-button {
    background-color: #80ced7 !important;
}

.thirdAcc .accordion-button {
    background-color: #cb88fd !important;
}