@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/variables";

/* News SCSS */
@import "./newsComponents/newsArticleCard.scss";
@import "./newsComponents/newsArticleContainer.scss";

/* Sentiment */
@import "./sentimentComponents/sentimentBadge.scss";

/* Widgets */
@import "./widgetsComponents/sideScroll.scss";
@import "./widgetsComponents/rangeSlider.scss";
/* Infobutton */

@import "./widgetsComponents/infoButton.scss";
@import "./widgetsComponents/searchBar.scss";

/* Variables */
@import "./global_variables.scss";

/*Stock components */
@import "./stockComponents/stockComponents.scss";
@import "./stockComponents/stockCardContainer.scss";
/* Tweet components */
@import "./tweetComponents/tweetCard.scss";
/* Order confirmation components */
@import "./orderConfirmationComponents/orderConfirmation.scss";

@import "./esgComponents/esgSlider.scss";

@import "./notFoundComponent/notFoundComponent.scss";

/*Layout components */
@import "./layoutComponents/header.scss";

/* Portfolio components */
@import "./portfolioComponents/portfoliocomponents.scss";

/*Game Components */
@import "./gameComponents/screenSelectionRadioButtons.scss";
@import "./gameComponents/createGameCard.scss";
@import "./gameComponents/gameCard.scss";
@import "./gameComponents/createGameScreen.scss";

@import "./gameComponents/individualGameScreen.scss";

.navbar-dark .navbar-toggler-icon {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Hamburger_icon_white.svg/1024px-Hamburger_icon_white.svg.png");
}

.navbar-toggler {
    border-color: white !important;
}
// account Components */
@import "./accountComponents/accountDetails.scss";


body {
    background-color: $background;
}

h1,
.h1 {
    color: $text-colour;
}

.navbar {
    background-color: $primary;
    color: $background
}

.navlink {
    color:$navlinks
}
.navlinkactive {
    color:$background;
    font-weight: bold;

}


.navbar-brand {

    h1,
    .h1 {
        color: $background;
    }
}

.stockInfoCol {
    margin-bottom: 0.625rem;
}

.infoCardStyle {
    height: 100%;
    padding: 0.625rem;
    margin: 0.625rem;
    margin-bottom: 1.25rem;
    padding-bottom: 3.125rem;
    display: flex;
}

.bolded {
    font-weight: bold;
}

.black{
    color: black;
}

.red{
    color: red;
}


.linkStyle {
    text-decoration:underline !important;
    color: blue !important;
    font-weight:bold;
}