@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/variables";

$primary: #006195;
$background: #ffffff;
$text-colour: #020202;
$submit: #e16202;

body {
    background-color: $background;
}

h1, .h1 {
    color: $text-colour;
}

.navbar {
    background-color: $primary;
    color:$background
}

.btn-primary {
    background-color: $submit;
    border-color: $submit;
}

.btn-primary:hover {
    background-color: darken($submit, 10%);
    border-color: darken($submit, 10%);
}

.btn-primary:focus {
    background-color: darken($submit, 10%) !important;
    border-color: darken($submit, 10%) !important;
}

.navbar-brand {
    h1, .h1 {
        color:$background;
    }
}

.stockInfoCol {
    margin-bottom: 10px;
}

.infoCardStyle {
    padding: 10px;
    margin: 10px;
    margin-bottom:20px;
    padding-bottom:50px;
    display:flex;
}


.newsCardContainer{
    max-height: 40rem;
    overflow-y: auto;
    margin: 10px;
    margin-bottom: 20px;
}


.newsArticleCard{
    flex-direction: column;
    align-items:center;
    height: 100%;
}

@media only screen and (max-width: 600px){
    .newsArticleCard{
        flex-direction: row;
    }
    .newsArticleCardImage{
        height: 30%;
        align-items:center;
        width: 30%;
        padding: 0.25rem;
        border-radius:25px;
    }
    .newsArticleCardTitle{
        font-size:70%;
        margin-bottom:1%;

    }
    .newsArticleCardSourceandDate{
        font-size: 55% !important;
    }
    .newsArticleDescription{
        font-size:55% !important;
    }
    .positiveSentimentBadge{
        font-size: 55% !important;
    }

    .negativeSentimentBadge{
        font-size: 55% !important;
    }

    .neutralSentimentBadge{
        font-size: 55% !important;
    }

}

.newsArticleCardBody{
    align-items:center
}

.newsArticleCardTitle{
    font-weight:bold
}

.newsArticleCardSourceandDate{
    font-style: normal;
    font-weight: lighter;
    font-size: 85%;
}

.newsArticleDescription{
    font-size: 90%;
}


.positiveSentimentBadge{
    margin-bottom:2%;
    font-size: 85%;
    background-color:#32CD32 !important;
}

.negativeSentimentBadge{
    margin-bottom:2%;
    font-size: 85%;
    background-color:#FF0000 !important;
}

.neutralSentimentBadge{
    margin-bottom:2%;
    font-size: 85%;
    background-color:#FFA500 !important;
}