@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/variables";

/* News SCSS */
@import "./newsComponents/newsArticleCard.scss";
@import "./newsComponents/newsArticleContainer.scss";

/* Sentiment */
@import "./sentimentComponents/sentimentBadge.scss";

/* Widgets */
/* Infobutton */

@import "./widgetsComponents/infoButton.scss";

/* Variables */
@import "./global_variables.scss";

body {
    background-color: $background;
}

h1, .h1 {
    color: $text-colour;
}

.navbar {
    background-color: $primary;
    color:$background
}

.btn-primary {
    background-color: $submit;
    border-color: $submit;
}

.btn-primary:hover {
    background-color: darken($submit, 10%);
    border-color: darken($submit, 10%);
}

.btn-primary:focus {
    background-color: darken($submit, 10%) !important;
    border-color: darken($submit, 10%) !important;
}

.navbar-brand {
    h1, .h1 {
        color:$background;
    }
}

.stockInfoCol {
    margin-bottom: 0.625rem;
}

.infoCardStyle {
    padding: 0.625rem;
    margin: 0.625rem;
    margin-bottom: 1.25rem;
    padding-bottom: 3.125rem;
    display:flex;
}


