@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/variables";

/* News SCSS */
@import "./newsComponents/newsArticleCard.scss";
@import "./newsComponents/newsArticleContainer.scss";

/* Sentiment */
@import "./sentimentComponents/sentimentBadge.scss";

/* Widgets */
@import "./widgetsComponents/sideScroll.scss";
/* Infobutton */

@import "./widgetsComponents/infoButton.scss";
@import "./widgetsComponents/searchBar.scss";

/* Variables */
@import "./global_variables.scss";

/*Stock components */
@import "./stockComponents/stockComponents.scss";
@import "./stockComponents/stockCardContainer.scss";
/* Tweet components */
@import "./tweetComponents/tweetCard.scss";
/* Order confirmation components */
@import "./orderConfirmationComponents/orderConfirmation.scss";

@import "./esgComponents/esgSlider.scss";

@import "./notFoundComponent/notFoundComponent.scss";

/*Layout components */
@import "./layoutComponents/header.scss";

/* Portfolio components */
@import "./portfolioComponents/portfoliocomponents.scss";

/*Game Components */
@import "./gameComponents/screenSelectionRadioButtons.scss";
@import "./gameComponents/createGameCard.scss";
@import "./gameComponents/gameCard.scss";


body {
    background-color: $background;
}

h1, .h1 {
    color: $text-colour;
}

.navbar {
    background-color: $primary;
    color:$background
}

.navbar-brand {
    h1, .h1 {
        color:$background;
    }
}

.stockInfoCol {
    margin-bottom: 0.625rem;
}

.infoCardStyle {
    height: 100%;
    padding: 0.625rem;
    margin: 0.625rem;
    margin-bottom: 1.25rem;
    padding-bottom: 3.125rem;
    display:flex;
}