// Used for navbar in custom.scss
$primary: #0080FF;
$secondary: #1E90FF;
// Used for body background and text colour when on non white background in custom.scss
$background: #ffffff;
$navlinks: #dfedf8;
// Used for colouring text on white backgrounds in custom.scss
$text-colour: #020202;
// Used for the submit button classes in custom.scss
$submit: #e16202;
// Used in sentimentComponents/sentimentbadges.scss and will be extracted for graphs
$positiveSentiment: #32CD32;
$negativeSentiment: #FF0000;
$neutralSentiment: #FFA500;

// used in widgetsComponents/infobutten.scss for infobutton
$info: #595959;
$shadow: #c0c0c0;
$midgrey: #808080;
<<<<<<< HEAD
$darkgrey: #222222;
=======

$stockdiscoverybackground: white
//  rgb(230, 230, 230);
>>>>>>> 8c220fb324e7c231e2bc0f86523c4228e6273337
