.containerContent{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10%;
    padding-left: 10%;
}

.prevNextCol{
    text-align: center;
}

.gameDetailsCardText{
    font-size: 1.5rem;
}

.gameDetailsToggleButton{
    border:none;
    padding: 0.313rem;
}

.gameDetailsGameTypeCard{
    height: 10rem;
    width: 12.5rem;
    color: black;
}

.gameDetailsCardTitle{
    font-size: 1.5rem;
}

.gameDurationCalenderCol{
    display: flex;
    align-items: center;
    text-align: center !important;
    justify-content: center !important;
}
.react-calendar__month-view__weekdays__weekday{
    font-size: 0.65rem;
}

@media only screen and (min-width: 1120px){
    .gameDetailsGameTypeCard{
        height: 10rem;
        width: 20rem;
    }
    .react-calendar__month-view__weekdays__weekday{
       font-size: 0.75rem;
    }
}




