.containerContent{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10%;
    padding-left: 10%;
    margin-bottom: 5rem;
}

.gameOptionsCardTitle{
    font-size: 2.5rem;
}

.gameOptionsCardSubTitle{
    font-size: 1.5rem;
    font-weight: bold;
    color:black;
}

.gameCreationSummaryHeadingText{
    font-size: 1rem;
    color: grey;
    font-weight: bold;
}

.gameCreationSummaryText{
    font-size: 1.25rem;
    font-weight: bold;
}



.gameOptionsCardText{
    font-size: 1.5rem;
}

.spanSpaceLeft{
    margin-left: 0.5rem;
}

.spanSpaceRight{
    margin-right: 0.5rem;
}

.prevNextButtons{
    width: 5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.containerButtons{
    margin-bottom: 0.625rem;
}
.prevNextCol{
    text-align: center;
}

.gameDetailsToggleButton{
    border: none;
    padding: 0.313rem;
}

.gameDetailsGameTypeCard{
    height: 10rem;
    width: 12.5rem;
    color: black;
}

.gameDurationCalenderCol{
    display: flex;
    align-items: center;
    text-align: center !important;
    justify-content: center !important;
}
.react-calendar__month-view__weekdays__weekday{
    font-size: 0.65rem;
}

.quickGameCard{
    color: black;
    height: 9rem;
    width: 7.5rem;
}

.quickGameCardBodyText{
    font-size: 1rem;
    margin: 0;
}

.quickGameCardIcons{
    height: 3rem;
    width: 3rem;
}

.customGameCard{
    color: black;
    margin-bottom: 1rem;
    
}


@media only screen and (min-width: 1120px){
    .gameDetailsGameTypeCard{
        height: 10rem;
        width: 20rem;
    }
    .react-calendar__month-view__weekdays__weekday{
       font-size: 0.75rem;
    }

    .quickGameCardIcons{
        height: 3rem;
        width: 3rem;
        color:red
    }
}




