.createGameCard{
    color: white;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.createGameCardHeading{
    font-size: 2rem;
}

.createGameCardAddIcon{
    padding-bottom: 0.4rem;
}

.creatGameCardImage{
    opacity: 1;
}

.createGameCardTextBody{
    font-size: 1.125rem;
}


@media only screen and (min-width: 600px){
    .createGameCard{
        width:30rem;
        height: 15rem !important;
    }
    .creatGameCardImage{
        height: 15rem !important;
    }
}
