.containerContent{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10%;
    padding-left: 10%;
}

.gameOptionsCardTitle{
    font-size: 2.5rem;
}

.gameOptionsCardSubTitle{
    font-size: 1.5rem;
    font-weight: bold;
    color:black;
}

.gameCreationSummaryHeadingText{
    font-size: 1rem;
    color: grey;
    font-weight: bold;
}

.gameCreationSummaryText{
    font-size: 1.25rem;
    font-weight: bold;
}



.gameOptionsCardText{
    font-size: 1.5rem;
}

.spanSpaceLeft{
    margin-left: 0.5rem;
}

.spanSpaceRight{
    margin-right: 0.5rem;
}

.prevNextButtons{
    width: 5rem;
}

.prevNextCol{
    text-align: center;
}

.gameDetailsToggleButton{
    border: none;
    padding: 0.313rem;
}

.gameDetailsGameTypeCard{
    height: 10rem;
    width: 12.5rem;
    color: black;
}

.gameDurationCalenderCol{
    display: flex;
    align-items: center;
    text-align: center !important;
    justify-content: center !important;
}
.react-calendar__month-view__weekdays__weekday{
    font-size: 0.65rem;
}


@media only screen and (min-width: 1120px){
    .gameDetailsGameTypeCard{
        height: 10rem;
        width: 20rem;
    }
    .react-calendar__month-view__weekdays__weekday{
       font-size: 0.75rem;
    }
}




