.containerContent{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10%;
    padding-left: 10%;
}

.prevNextCol{
    text-align: center;
}

.gameDetailsCardText{
    font-size: 1.5rem;
}

.gameDetailsToggleButton{
    border:none;
    padding: 0.063rem;
}

.gameDetailsGameTypeCard{
    height: 10rem;
    width: 12.5rem;
    color: black;
}

.gameDetailsCardTitle{
    font-size: 1.5rem;
}

.gameDurationCalenderCol{
    text-align: center !important;
    justify-content: center !important;
}

.gameDurationCalender{
    width: 50%;
}

@media only screen and (min-width: 1120px){
    .gameDetailsGameTypeCard{
        height: 10rem;
        width: 20rem;
    }
}




