.createGameCard{
    max-width: 30%;
    max-height: fit-content;
    color: white;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.createGameCardHeading{
    font-size: xx-large;
}

.creatGameCardImage{
    filter: blur(0.094rem);
}

.createGameCardTextBody{
    font-weight: bold;
    font-size: large;
}



@media only screen and (max-width: 600px){
    .createGameCard{
        max-width: 100%;
}
}