[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
feedparser = "*"
boto3 = "*"
pymongo = "*"
beautifulsoup4 = "*"
nltk = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.9"
